/* Hide all slides by default */
.slide {
    display: none;
}

/* Show the active slide */
.fade {
    display: block;
}

/* Style for the previous and next buttons */
.next {
    cursor: pointer;
    position: absolute;
    bottom: 175px;
    left: 60px;
    padding: 10px 45px;
    text-decoration: underline;
    color: blue;
    transition: background-color 0.3s ease;
}

.prev{
    cursor: pointer;
    position: absolute;
    bottom: 175px;
    left: 10px;
    padding: 10px 15px;
    color: blue;
    text-decoration: underline;
    transition: background-color 0.3s ease;
    
}

